/bldc_scalar_user_interface.d
/bldc_scalar_user_interface.o
/bldc_scalar_user_interface.o.lst
/bldc_scalar_variables_config.d
/bldc_scalar_variables_config.o
/bldc_scalar_variables_config.o.lst
/motor.d
/motor.o
/motor.o.lst
/subdir.mk
